<h1 class='header'>About Us</h1>
    <div class='content'>
        <p id='cont-p'>Our English group is made up of Colter Giem, Henry Kaufman, Daniel Horn, and Ben Geisler, and (as you really should already know) our project focuses around helping the large masses of Syrian refugeesn currently fleeing their homeland. They are being driven out by fighting pervading their villages, their cities, and their homes, and when we learned about this massive injustice, we decided to try and help. Syriansa.ga is the culmination of that effort, and we really appreciate everyone's help on this project.</p>
        <br>
        <p id='cont-p'>If you need help with anything, have a question, or want something approved, don't hesitate to let us know. Our emails should come up when you type our names into the 'name' space in your school email. We will get back to you as soon as possible.           </p>
    </div>