<div class='home-slide' id='home-slide1'>
    <div class="cover outer">
        <div class="inner">
            <h1 class='slide-txt'>Since 2011, over <span>9 million</span> Syrians have been driven from their homes.</h1>
        </div>
    </div>
</div>
<div class='home-slide' id='home-slide2'>
    <div class="cover outer">
        <div class="inner">
            <h1 class='slide-txt'>The fighting between the government, ISIS, and the Syrian rebel groups have devastated millions of people's livelihoods.</h1>
        </div>
    </div>
</div>
<div class='home-slide' id='home-slide3'>
    <div class="cover outer">
        <div class="inner">
            <h1 class='slide-txt'>They are living in refugee camps in Jordan, Turkey, and Lebanon. They are poor, hungry, and desperate.</h1>
        </div>
    </div>
</div>
<div class='content'>
    <h1>We can help them.</h1>
    <p>By donating money to the UN Refugee Foundation, we can give many of these refugees supplies, entertainment and activity vital to their well-being. We simply need to work together to make life better for hundreds of people less fortunate than ourselves. Together, we can change this. And this is what our project plans to do.</p>
    <br>
    <p>The UN Refugee Agency (whose site can be found <a href='https://donate.unrefugees.org/ea-action/action?ea.client.id=1873&ea.campaign.id=41829&ea.tracking.id=D15XLJ151XXC&_ga=1.201719633.1538271965.1421021942'>here</a>) needs money from the public to give aid, shelter, and supplies to refugees fleeing the Syrian crisis. By organizing fundraisers (5K, Kickstarter, bake sale, etc.) we can raise a substantial amount of money for the foundation, and with the competition aspect of this class-wide fundraiser, we can raise more money than any one group could on their own. </p>
</div>