<h1 class='header'>Our Mission</h1>
<div class='content'>
    <p id='cont-p'>Haiti has been devestated by many different natural disasters, making it the poorest country in the western hemisphere. At the same time hospitals where destroyed as well making Haiti have litte medical support. In our fundraiser, we will directly donate to the people and families of Port AU Prince. In Port AU Prince, the capital of Haiti, more than 60% of people live in poverty. Every small amount of money collected can help. With only one dollar, we can provide five meals in an emergency.
    <br>
    <br>
    Overall, we want to make a large positive impact that well help the people of Port AU Prince bring their lives back into a more stable condition.</p>
</div>