<h1 class='header'>Our Plan</h1>
<div class='content'>
    <p id='cont-p'>
        To help Haiti, we're having a movie night! By having a movie night we will be able to raise money to then donate to help the people of Haiti.
        <br>
        <br>
        <b>What:</b> Move Night
        <br>
        <b>Who:</b> Everyone!
        <br>
        <b>Where:</b> Mountain Vista High School in the smaller gym
        <br>
        <b>When:</b> 7:00 pm
        <br>
        <b>Why:</b> Help support Haiti and our cause! Help these people bring their lives back together!
    </p>
    <br>
    <br>
</div>