<h1 class='header'>Our Plan</h1>
<div class='content'>
    <p id='cont-p'>Our plan involves everyone in the class, and requires us all to do our part. Every group will pick an idea for their fundraiser (ex: bake sale, Kickstarter, 5K) and will work hard to raise as much money as they can. The group that raises the most money (the winners!) will not only receive extra credit points from Mrs. Clark, they will also get Krispy Kreme donuts of their choice. Our team will supervise the other groups, going around, making sure they're on task, and helping with anything that needs to be changed or added to. There's no limit on what you can do. Be creative! Come up with a fun way of raising money that your group can do, and really try to raise the most. Donuts are at stake!</p>
    <br>
    <p id='cont-p'>Note: Try not to make your idea really expensive or time-consuming. Be sure that your group can finish it within the allotted time period, and that you're raising more than you're spending. Otherwise, just have fun with it!</p>
    <br>
    <p id='cont-p'>Click <a href='/#/forum'>here</a> to visit the class forum!</p>
</div>